<div class="container my-4">

    <p class="font-weight-bold">An example of bootstrap file upload. Easy to implement and customize. Examples of basic
        and advanced usage.</p>

    <p><strong>Detailed documentation and more examples you can find in our <a
            href="https://mdbootstrap.com/docs/standard/forms/file/"
            target="_blank">Bootstrap File Input Docs</a></p>

    <hr class="mt-5">

    <p>Built with <a target="_blank" href="https://mdbootstrap.com/docs/standard/">Material Design for Bootstrap</a> -
        free and powerful Bootstrap UI KIT</p>

    <a class="btn btn-primary me-2" href="https://mdbootstrap.com/docs/standard/getting-started/installation/"
       target="_blank" role="button">Download MDB UI KIT <i class="fas fa-download"></i></a>
    <a class="btn btn-danger me-2" target="_blank" href="https://mdbootstrap.com/docs/standard/" role="button">Learn
        more</a>
    <a class="btn btn-success me-2" target="_blank" href="https://mdbootstrap.com/docs/standard/getting-started/"
       role="button">Tutorials</a>
    <a class="btn btn-dark me-2" target="_blank" href="https://github.com/mdbootstrap/mdb-ui-kit" role="button">GitHub
        <i class="fab fa-github ms-2"></i></a>

    <hr class="mb-5"/>

    <p class="font-weight-bold">Basic example</p>

    <p class="note note-info"><strong>Note info:</strong> If you need more advanced functionalities, have a look at our
        <a href="https://mdbootstrap.com/docs/standard/plugins/file-upload/">Drag and drop file upload plugin</a>.
    </p>

    <div class="row">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

            <!--Title-->
            <h2 class="">
                Default file input
            </h2>

            <!--Description-->
            <p>Default styling for Bootstrap File Input component</p>

            <!-- Description -->
            <p>The file input is the most gnarly of the bunch and requires additional JavaScript if you’d like to hook
                them up
                with functional Choose file… and selected file name text.
            </p>

            <!--Section: Live preview-->
            <section class="section-preview">

                <div class="input-group my-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01"
                               aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>
                </div>

            </section>
            <!--Section: Live preview-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-md-0 mb-4">

            <!--Title-->
            <h2 class="">
                Material file input
                <a href="https://mdbootstrap.com/docs/standard/pro/" target="_blank"
                   class="btn btn-danger btn-sm waves-effect waves-light" role="button">MDB
                    Pro component
                    <i class="far fa-gem ml-1"></i>
                </a>
            </h2>

            <!--Description-->
            <p>Material Design styling for Bootstrap File Input component</p>

            <!--Section: Live preview-->
            <section class="section-preview">

                <form class="md-form my-3">
                    <div class="file-field">
                        <div class="btn btn-primary btn-sm float-left waves-effect waves-light">
                            <span>Choose file</span>
                            <input type="file">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Upload your file">
                        </div>
                    </div>
                </form>

            </section>
            <!--Section: Live preview-->

        </div>
        <!--Grid column-->

    </div>

</div>