<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Data Validator</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/data_validator.css') }}"/>
    <script src="{{ url_for('static',filename='data_validator.js') }}"> </script>
</head>
<body>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
<div class="nav">
    <div class="container">
      <div class="title">
        <h3>Data Modification and validation</h3>
      </div>
      <ul class="menu">
        <li><a href="#">Home</a>
        </li>
        <li><a href="#mywork">Merge</a>
        </li>
        <li><a href="#myskills">Permute and combination</a>
        </li>
        <li><a href="#validate_div">Validate</a>
        </li>

     </ul>
    </div>
</div>
    <div class="jumbotron">
    <div class="container">
        <h3>Find and replace</h3>
        <div class="row">
            <div class="col-md-6 mb-4">

                <div class="form-group">
                    <form id="upload-file" class="form-label" method="post" enctype="multipart/form-data">
                        <div>
                            <label for="file_name">Select a file</label>
			   <div class="col-md-12" style="padding-left:30px;">
				   <input name="file_name" type="file"></div>
			</div>
			<div>
                            <label for="find">Find:</label>
			   <div class="col-md-12">
				  <div class="col-md-8">
                            <textarea name="textarea" style="height:50px;" class="form-control"
									   id="find"></textarea></div>
				  <div class="col-md-2">
					  <button type="button" id="find_btn" class="button_">Find</button></div>
				  <div class="col-md-2">
					  <input type="text" title="occurances" id= 'occurances_' disabled/>
                                  </div>
			   </div>
			</div>
                        <label for="replace">Replace:</label>
				<div class="col-md-12">
					<div class="col-md-8">
                        			<textarea name="textarea" style="height:50px;" class="form-control"
                                  		id="replace"></textarea>
					</div>
					<div class="col-md-2">
						<button class="form-label button_" id="upload-file-btn" type="button" style="padding-right: 10px;">Replace</button></div>
					<div class="col-md-2">
						<button class="form-label button_" id="download-file-btn" type="button" disabled onclick="location.href='{{ url_for("database_download", filename="modified_file.csv") }}'">Download</a></button></div>
                        		</div>


                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
<div class="mywork" id="mywork">
    <div class="container">
        <h3>Merge</h3>
        <div class="row">
            <div class="col-md-6 mb-4">

                <div class="form-group">
                    <form id="upload-file" class="form-label" method="post" enctype="multipart/form-data">
                        <div>
                            <label for="file_name">Select a file</label>
			   <div class="col-md-12" style="padding-left:30px;">
				   <input name="file_name[]" type="file" multiple></div>
			</div><br><br>
			<div class="col-md-8">
				<div class="col-md-4"><button class="form-label button_" id="merge-file-btn" type="button">Merge</button></div>
				<div class="col-md-4"><button class="form-label button_" id="dwnld-file-btn" type="button"  disabled onclick="location.href='{{ url_for("database_download", filename="modified_file.csv") }}'">Download</button></div>
			</div>
		    </form>
                </div>
        </div>
    </div>
</div>
</div>
<div class="myskills" id="myskills">
    <div class="container">
        <h3>Permute and combination</h3>
        <div class="row">
            <div class="col-md-12 mb-4">

                <div class="form-group">
                    <form id="upload-file" class="form-label" method="post" enctype="multipart/form-data">
			<div class="tab1cards">
			<div class="card">
			<div class="content">
	                 <div>
                            <label for="file_name">Select a file</label>
			   <div class="col-md-12" style="padding-left:30px;">
				   <input name="file_name_1" type="file"></div>
			</div><br><br>
		         <div>
                            <label for="start">Start</label>
			   <div class="col-md-12" style="padding-left:30px;">
                            <textarea name="textarea" style="height:35px;" class="form-control"
									   id="start_1"></textarea></div>

			</div><br><br>
                             <div>
                            <label for="end">End</label>
			   <div class="col-md-12" style="padding-left:30px;">
 				<textarea name="textarea" style="height:35px;" class="form-control"
                                                                           id="end_1"></textarea></div>
			</div><br><br>
			</div>
			</div>
			<span style="padding-left: 50px;"></span>
			<div class="card">
			<div class="content">
	                 <div>
                            <label for="file_name">Select a file</label>
			   <div class="col-md-12" style="padding-left:30px;">
				   <input name="file_name_2" type="file" multiple></div>
			</div><br><br>
		         <div>
                            <label for="start">Start</label>
			   <div class="col-md-12" style="padding-left:30px;">
                            <textarea name="textarea" style="height:35px;" class="form-control"
									   id="start_2"></textarea></div>

			</div><br><br>
                             <div>
                            <label for="end">End</label>
			   <div class="col-md-12" style="padding-left:30px;">
 				<textarea name="textarea" style="height:35px;" class="form-control"
                                                                           id="end_2"></textarea></div>
			</div><br><br>
			</div>
			</div>
			</div>
			<br><br>
			<div class="btnn">
					<div class="col-md-2">
						<button class="form-label button_" id="permute-file-btn" type="button">Permute</button></div>
					<div class="col-md-2">
						<button class="form-label button_" id="download-file-btn" type="button" disabled onclick="location.href='{{ url_for("database_download", filename="modified_file.csv") }}'">Download</a></button></div>
			</div>
 
		    </form>
                </div>
	     </div>
        </div>
    </div>
</div>
    <div class="validate_div" id="validate_div">
    <div class="container">
        <h3>Validate</h3>
        <div class="row">
            <div class="col-md-6 mb-4">

                <div class="form-group">
                    <form id="upload-file" class="form-label" method="post" enctype="multipart/form-data">
                        <div>
                            <label for="file_name">Select a file</label>
			   <div class="col-md-12" style="padding-left:30px;">
				   <input name="file_name_validate" type="file"></div>
			</div>
			<div>
                            <label for="find">Validate</label>
			   <div class="col-md-12">
				  <div class="col-md-8">
                            <textarea name="textarea" style="height:50px;" class="form-control"
									   id="validate"></textarea></div>
				  <div class="col-md-2">
					  <button class="button_" type="button" id="validate_btn" style="padding-right: 10px;">Validate</button></div>
				  <div class="col-md-2">
					  <input type="text" title="statement" id= 'statement' disabled/>
                                  </div>
			   </div>
			</div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>

</body>
</html>
